<%- errorMessagesFor(ebay) %>
<div class="control-group">
   <%- form.label("ebay_id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("ebay_id") %>
   </div>
</div>
